.withdraw-coins-container {
    padding: 20px;
}



.coin-image-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* Make the image container circular */
    overflow: hidden;
    /* Ensure the image fits inside the container */
    margin-right: 15px;
}

.coin-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure the image covers the entire container */
}

.coin-details {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    /* Add margin to space text from image */
}

.coin-symbol {
    font-weight: bold;
}

.coin-name {
    color: #7f8c8d;
}